{% extends "base_page.html" %}

{% block page-title %}
Добавить термин
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="word-form">
    <div class="container">
    <form method="post" class="col s12">
        <div class="row">
            <div class="col s12">
                <h3>Добавьте слово и его перевод</h3>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="word" type="text" class="form-control input-lg" name="word" required>
                <label class="active" for="word">Слово</label>
            </div>
            <div class="input-field col s6">
                <input id="translation" type="text" class="validate" name="translation" required>
                <label class="active" for="translation">Перевод</label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn btn-primary" formaction="/send-word">Отправить</button>
            </div>
        </div>
    </form>
    <br>
    </div>
</div>
{% endblock %}