{% extends "base_page.html" %}

{% block pagetitle %}
Главная
{% endblock %}

{% block page-title %}
Изучение иностранных языков
{% endblock %}

{% block page-lead %}
Страница проекта, позволяющего отслеживать информацию о пройденных уроках и изученных словах
{% endblock %}

{% block content %}
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
            <h2 class="center light-blue-text"><i class="material-icons">Уроки</i></h2>
            <h5 class="center">Информация о пройденных уроках</h5>
            <div class="col s11 push-s2">
              <a href="/lessons" id="lessons" class="btn-large waves-effect waves-light orange">К списку уроков</a>
              <a href="/add-lesson" id="add_lesson" class="btn-large waves-effect waves-light orange">Добавить урок</a>
            </div>
        </div>

        <div class="col s12 m6">
            <h2 class="center light-blue-text"><i class="material-icons">Слова</i></h2>
            <h5 class="center">Список изученных слов</h5>
              <div class="col s11 push-s2">
                  <a href="/words" id="words" class="btn-large waves-effect waves-light orange">К списку слов</a>
                  <a href="/add-word" id="add_word" class="btn-large waves-effect waves-light orange">Добавить слово</a>
              </div>
        </div>


      </div>

    </div>
    <br><br>
  </div>
{% endblock %}
