{% extends "base_page.html" %}

{% block pagetitle %}
Слова
{% endblock %}

{% block page-title %}
Список изученных слов
{% endblock %}

{% block page-lead %}
Посмотрите на добавленные ранее слова:
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <table class="striped">
        <thead>
          <tr>
              <th>Номер</th>
              <th>Слово</th>
              <th>Перевод</th>
          </tr>
        </thead>

        <tbody>
        {% for cnt, word, translation in words %}
          <tr>
            <td>{{cnt}}</td>
            <td>{{word}}</td>
            <td>{{translation}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        <br></br>
    </div>
</div>
{% endblock %}